body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  font-size:32px;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 25px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  font-size:32px;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 25px;
  margin-left: 350px;
}
